---
- name: Update server
  ansible.builtin.yum: name='*' state=latest
  when: update_server

- name: Install basic packages
  ansible.builtin.yum: name=chrony state=present

- name: Start chrony service
  ansible.builtin.service: name=chronyd state=started

- name: Install capsule
  ansible.builtin.yum: name=satellite-capsule state=present

- name: Run satellite-installer command
  ansible.builtin.command: /bin/bash "/certs/{{ inventory_hostname }}-script.sh"
