---
- name: Create /certs directory on satellite
  ansible.builtin.file:
    path: /certs
    state: directory
    mode: 0744
  delegate_to: satellite_server
  run_once: true

- name: Create /certs directory on capsule
  ansible.builtin.file:
    path: /certs
    state: directory
    mode: 0744

- name: Create capsule certs on satellite for capsule install
  ansible.builtin.shell:
      capsule-certs-generate
      --foreman-proxy-fqdn {{ inventory_hostname }}
      --certs-tar /certs/{{ inventory_hostname }}-certs.tar
      --foreman-proxy-cname "{{ capsule_cname if capsule_cname != 'none' else '' }}"
      --cname "{{ capsule_cname if capsule_cname != 'none' else '' }}"
      >/certs/{{ inventory_hostname }}-out.raw
  delegate_to: satellite_server
  when: capsule_install

- name: Copy the required certs to the capsule
  ansible.builtin.copy:
    src: /certs/{{ inventory_hostname }}-certs.tar
    dest: /certs/
    owner: root
    group: root
    mode: 0744
    backup: yes

- name: Copy the installer command to the capsule for capsule install
  ansible.builtin.copy:
    src: /certs/{{ inventory_hostname }}-out.raw
    dest: /certs/
    owner: root
    group: root
    mode: 0744
    backup: yes
  when: capsule_install
