---
- name: Create /certs directory on satellite
  ansible.builtin.file:
    path: /certs
    state: directory
    mode: 0744
  delegate_to: satellite
  run_once: true

- name: Create /certs directory on capsule
  ansible.builtin.file:
    path: /certs
    state: directory
    mode: 0744

- name: Create capsule certs on satellite for capsule install
  ansible.builtin.shell:
      capsule-certs-generate
      --foreman-proxy-fqdn {{ inventory_hostname }}
      --certs-tar /certs/{{ inventory_hostname }}-certs.tar
      --foreman-proxy-cname "{{ capsule_cname if capsule_cname != 'none' else '' }}"
      --cname "{{ capsule_cname if capsule_cname != 'none' else '' }}"
      >/certs/{{ inventory_hostname }}-out.raw
  delegate_to: satellite
  when: capsule_install

- name: Copy the required certs to the capsule
  ansible.builtin.copy:
    src: /certs/{{ inventory_hostname }}-certs.tar
    dest: /certs/
    owner: root
    group: root
    mode: 0744
    backup: yes

- name: Copy the installer command to the capsule for capsule install
  ansible.builtin.copy:
    src: /certs/{{ inventory_hostname }}-out.raw
    dest: /certs/
    owner: root
    group: root
    mode: 0744
    backup: yes
  when: capsule_install

# Extract the capsule install command using regex until RFE BZ 1573374 is fixed.
#- name: Extract the capsule-installer command for capsule install
#  shell:
#    sed 's/\x1B\[[0-9;]*[JKmsu]//g' "/certs/{{ inventory_hostname }}-out.raw" | grep -e '^\s\+satellite-installer ' -e '^\s\+foreman-installer ' -e '^\s\+capsule-installer ' -e '^\s\+--' | sed 's|\(^\s\+--certs-tar\s\+"\).*$|\1/certs/{{ inventory_hostname }}-certs.tar"\\|' > "/certs/{{ inventory_hostname }}-script.sh"
#  when: capsule_install
