---
- name: Stop services
  ansible.builtin.command: foreman-maintain service stop

- name: Update yum
  ansible.builtin.command: yum update -y

- name: Run capsule-installer command
  ansible.builtin.command: satellite-installer --scenario capsule --upgrade 
