---
- name: Stop services
  ansible.builtin.command: satellite-maintain service stop

- name: Update all packages
  ansible.builtin.dnf:
    name: '*'
    state: latest

- name: Run capsule-installer command
  ansible.builtin.command: satellite-installer --scenario capsule --upgrade 
